alembic
asyncmy
easyocr
fastapi
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain_community
langgraph
notion-client
numpy
pdf2image
Pillow
pydantic
python-dotenv
python-multipart
python-telegram-bot
sqlalchemy
torch
torchaudio
torchvision
uvicorn